* {
    font-family: 'Oswald', sans-serif;
}


/* 
menu */

button:focus {
    outline: 0;
}

img,
embed,
svg,
audio,
canvas,
video {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

hr {
    height: 0;
    border: 0;
    border-bottom: 1px solid #dfdfdf;
    margin: 0;
}


/* body {
    color: #5c7470;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
} */

h1 {
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 80px;
}

h1 span {
    color: #17B6D2;
}


/* p {
    margin: 0;
} */

.cards-grid {
    display: flex;
    grid-gap: 80px;
    padding-bottom: 60px;
}


/* FLIP CARD */

.flip-card {
    width: 320px;
    height: 304px;
    perspective: 2000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 28px;
    transition: all 550ms cubic-bezier(0.1, 0.22, 0.8, 1.13);
    transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 28px;
    backface-visibility: hidden;
}

.flip-card-front {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flip-card-back {
    font-size: 1.25rem;
    text-align: center;
    display: grid;
    place-items: center;
    /* padding: 32px; */
    background: linear-gradient(150deg, #FFCFA1, #FFCFA1, #177791, #DFD5CD, #177791, #13B6E2);
    transform: rotateY(180deg);
    background-size: 400% 300%;
    animation: BgGradient 10s ease infinite;
}

@keyframes BgGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(-180deg);
}


/* fin menu */


/* menus mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm */

.cards-grid-m {
    display: flex;
    grid-gap: 80px;
    padding-bottom: 60px;
}


/* FLIP CARD */

.flip-card-m {
    width: 320px;
    height: 250px;
    perspective: 2000px;
}

.flip-card-inner-m {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 28px;
    transition: all 550ms cubic-bezier(0.1, 0.22, 0.8, 1.13);
    transform-style: preserve-3d;
}

.flip-card-front-m,
.flip-card-back-m {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 28px;
    backface-visibility: hidden;
}

.flip-card-front-m {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flip-card-back-m {
    font-size: 1.25rem;
    text-align: center;
    /* display: grid; */
    place-items: center;
    /* padding: 32px; */
    background-color: #B1CFC8;
    transform: rotateY(180deg);
}

.flip-card-m:hover .flip-card-inner-m {
    transform: rotateY(-180deg);
}

@media only screen and (max-width: 900px) {
    .flip-card-m {
        width: 200px;
        height: 200px;
        perspective: 1000px;
    }
    /* .flip-card-back-m {
        width: 100px;
        height: 100px;
        perspective: 1000px;
    } */
}


/* fin menus mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm*/


/* slider */

body {
    background-color: rgb(209, 223, 241);
    /* animation: mymove 5s infinite; */
}


/* @keyframes mymove {
    from {
        background-color: #D1C592;
    }
    to {
        background-color: blue;
    }
} */


/* Slideshow container */

.slideshow-container {
    max-width: 1250px;
    position: relative;
    margin: auto;
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}


/* Fading animation */

.fade {
    animation-name: fade;
    animation-duration: 5s;
}

@keyframes fade {
    from {
        opacity: .2
    }
    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}


/* fin slider */


/* footer / pie de pagina */

.header {
    background: rgb(34, 29, 29);
    padding: 20px;
    color: white;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    margin: 0;
}

.header-btn {
    font-size: 20px;
}

.header-menu {
    display: none;
    padding-bottom: 10px;
    animation: header_menu_active 2s;
}

@keyframes header_menu_active {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 20px;
}

.header-menu a {
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-top {
        padding-bottom: 0;
    }
    .header-menu {
        padding-top: 0;
        display: block !important;
    }
    .header-menu ul {
        flex-direction: row;
    }
    .header-btn {
        display: none;
    }
}


/* .titulo */

.container {
    border: 2px solid white;
    box-shadow: inset 0 0 5px black, 0 0 10px black;
    border-radius: 60px;
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    color: white;
}

.neon {
    font-family: "Dancing Script", cursive;
    margin: 0;
    font-size: 25px;
    text-shadow: 0 0 5px #524d39, 0 0 15px #524d39, 0 0 30px #524d39, 0 0 50px #524d39;
}

.neon2 {
    font-family: monospace;
    letter-spacing: 8px;
    margin: 0;
    font-size: 50px;
    text-shadow: 0 0 5px #790f0f, 0 0 15px #790f0f, 0 0 30px #790f0f;
}

.neon3 {
    font-family: monospace;
    margin: 0;
    font-size: 20px;
    text-shadow: 0 0 5px white, 0 0 15px white, 0 0 30px white;
}

.flicker1 {
    animation: parpadear 2s infinite backwards steps(3);
}

.flicker2 {
    animation: parpadear 2.5s infinite backwards steps(4);
}

.flicker3 {
    animation: parpadear 1.5s infinite backwards steps(2);
}

@keyframes parpadear {
    to {
        color: gray;
        text-shadow: none;
    }
}


/* fin titulo */

.carta {
    width: 350px;
    height: 350px;
}


/* horario */

.card {
    position: relative;
    width: 300px;
    height: 350px;
}

.card .face {
    position: absolute;
    width: 100px;
    height: 100px;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(180deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.card .front h3 {
    width: 100px;
    height: 45px;
    line-height: 45px;
    color: #ddd;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}

.card .back {
    transform: perspective(600px)rotateY(0deg);
    color: #ddd;
    background-color: black;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}


/* fin de horario */


/* tabla de platos */

.plato {
    width: 150px;
    height: 150px;
}

.estrella {
    width: 30px;
    height: 30px;
    text-align: center;
}

.espacio_plato {
    text-align: center;
}

#main-container {
    margin: 150px auto;
    width: 600px;
}

table {
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 20px;
}

thead {
    background-color: #524d39;
    border-bottom: solid 5px #0F362D;
    color: white;
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr:hover td {
    background-color: #9e956f;
    color: white;
}


/* fin tabla */

.logo {
    height: 125px;
    width: 200px;
}

.titulo {
    text-align: center;
}

.icono_peque {
    height: 125px;
    width: 125px;
}

.logo_responsive {
    height: 0px;
    width: 0px;
}

html {
    font-size: 16px;
}


/* Redimensión de fuente utilizando rem */

p {
    font-size: 1rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: 1.05rem;
}


/**************************/


/*:::::Pie de Pagina*/

.pie-pagina {
    width: 90%;
    background-color: #524d39;
    ;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    /* display: flex; */
    /* justify-content: left;
    align-items: left; */
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: aqua;
}

.pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}


/* clases predefinidas */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


/* Clear floats after the columns */

.row-c:after {
    content: "";
    display: table;
    clear: both;
}


/* Diseño de columnas */

.column-1 {
    width: 100%;
    float: left;
}

.column-2 {
    width: 50%;
    float: left;
}

.column-3 {
    width: 33.33%;
    float: left;
    transition: all 1s cubic-bezier(1, 0.59, 0.36, 1.09);
}

.column-3:hover {
    background-color: #524821;
}

.column-4 {
    width: 25%;
    float: left;
    transition: all 1s cubic-bezier(1, 0.59, 0.36, 1.09);
}

.panel:hover {
    background-color: #524821;
}

.column-5 {
    width: 20%;
    float: left;
}

.column-6 {
    width: 16.66%;
    float: left;
}

.column-75 {
    width: 75%;
    float: left;
}

frame {
    width: 300px;
    height: 300px;
}


/* clase para centrar contenido en horizontal y vertical (lo centra respecto al elemento padre) */

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.volver {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_responsive_footer {
    height: 0px;
    width: 0px;
}

@media only screen and (max-width: 825px) {
    .volver {
        display: block;
    }
    .logo {
        height: 0px;
        width: 0px;
    }
    .logo_responsive {
        height: 75px;
        width: 75px;
    }
    .logo_responsive_footer {
        height: 105px;
        width: 105px;
    }
    .icono_peque {
        height: 50px;
        width: 50px;
    }
    /* column-2 pasará de tener 50% a 100% */
    .column-2 {
        width: 100%;
    }
    /* column-3 pasará de tener 33.33% a 100% */
    .column-3 {
        width: 100%;
    }
    /* column-4 pasará de tener 25% a 50% */
    .column-4 {
        width: 50%;
    }
    .column-5 {
        width: 50%;
    }
    /* pie de pagina */
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    /* fotos */
    .img_R {
        width: 350px;
        height: 350px;
    }
    .flip-card {
        width: 100px;
        height: 100px;
        perspective: 1000px;
    }
    frame {
        width: 100px;
        height: 100px;
    }
}